.spl-img{
  width: 43px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #EEF1FE;
  box-shadow: 0px 5px 7px #eef1fe;
  border-radius: 5px;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  padding: 5px
}
.table-avatar{
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}
.tab-end{
  text-align: end;
}

.page-header {
  padding-top: 5px;
  padding-bottom: 20px;
  position: relative;
  transition: all 0.4s ease;
}
.card-header{
  // background: none;
  // border-bottom: none;
}

.table-columns{
  background-color: #f8f9fa;
}
.table-rows{
  vertical-align: middle;
}
.doc-badge{
  padding-top: 7px
}

.flash-message {
  color: #707071;
  background: aliceblue;
  text-align: center;
}

#doctor_speciality_id{
  border: none;
  width: 638px;
}

.page-content {
  padding-left: 2rem;
  padding-right: 2rem;
}


.actions{
  text-decoration: none;
}

.nav-header{
  background-color: #f8f9fa;
  height: 69px;
}
.container-fluid{
  padding: 0px;
}
.booking-doc-img img{
    border-radius: 4px;
    height: 84px;
    width: 84px;
}

.day-slot  {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 14.28%;
}

.hospital-icon {
    height: 60px;
    width: 60px;
    margin-left: 22px;
}

.nav-icons {
  height: 23px;
  width: 23px
}
.card-image {
  width: 290px;
  height: 180px;
  padding: 20px;
  background-color: whitesmoke;
}
.show-page-card-image{
  width: 350px;
  height: 210px;
  padding: 20px;
}
.grid-view, .list-view {
    overflow-y: auto;
    max-height: 450px;
}
